<div id="list-of-properties" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/properties/list-of-properties.less</em>, <em>assets/js/pages/properties/list-of-properties.page.js</em>, and <em>api/controllers/properties/view-list-of-properties.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
