<div id="list-of-properties" v-cloak>

  <div class="container">
    <div class="page-header text-center">
      <h1>Properties</h1>
      <h2>View properties, or upload your own properties.</h2>
      <div class="header-buttons">
        <button class="btn btn-outline-primary" @click="clickAddButton()">Add an property</button>
      </div>
    </div>
    <div class="listings" v-if="properties.length > 0">
      <div class="card" :key="'property'+property.id" :class="property.author.fullName === me.fullName ? 'mine' : ''" v-for="property in properties">
        <!-- <div class="card-options dropdown">
          <span class="options-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-ellipsis-v"></span></span>
          <div class="dropdown-menu dropdown-menu-right">
            <span class="dropdown-item" @click="">View</span>
            <span class="dropdown-item" @click="" v-if="property.author.fullName === me.fullName">Delete</span>
          </div>
        </div> -->
        <!-- <img alt="A mysterious item" :alt="property.address ? property.address : 'A mysterious item'" :src="property.imageSrc"/> -->
        <span class="address" v-if="property.address">{{property.address}}<br/></span>
        <small class="author text-primary"><span class="fa fa-home mr-1"></span>{{property.author.fullName}}</small>
      </div>
    </div>
    <div class="empty text-center" v-if="properties.length = 0"><p>You and your partners have not added any properties. <a href="/properties/new" @click="clickAddButton()">Add a property</a> to get started!</p></div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
